doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Proyectos

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Proyectos
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder 
                                                a(href="https://github.com/GonzaRios/Characterization-of-a-classroom-by-Impulse-Response") Caracterización de un aula de clases por medio de Respuesta al Impulso
                                            p Se ha desarrollado una aplicación desktop en MatLab para estudiar una serie de parámetros acústicos de un aula utilizada para la enseñanza. A partir del estudio y de mediciones in situ, el programa se utiliza para analizar si el aula es adecuada para actividades en las que interviene el habla.
                                        

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder
                                                a(href="https://github.com/GonzaRios/RIRs_PROCESSER") Procesador de Respuestas al Impulso
                                            p Aplicación de escritorio creada con Python la cual puede recibir archivos de audio en formato .wav, tanto en Mono o Estéreo. Permite aplicar un filtrado por octava o por tercio de octavas y elegir entre un suavizado por Filtro de Media Movil o por Schroeder. También permite la visualización de un gráfico correspondiente a la señal procesada y una grilla de datos con la opción de exportar los resultados obtenidos. 
                            //Project Card 3
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder
                                                a(href="https://github.com/GonzaRios/Sensibilidad-y-Directividad-de-un-parlante") Sensibilidad y Directividad de un parlante
                                            p Se implemento un script para obtener la sensibilidad y directividad de un parlante al aire libre mediante la utilización de parámetros de Thiele Small provistos. Dichos datos fueron obtenidos por medio del método de masa agregada y compleancia agregada. En algoritmo en cuestión procesa los datos mencionados para realizar los respectivos gráficos a la sensibilidad, directividad y gráfico de contorno. De manera, poder caracterizar el parlante en cuestión, y cualquier parlante, con la metodología utilizada.
                            //Project Card 4
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder
                                                a(href="https://github.com/GonzaRios/Retardo-de-Se-ales") Retardo de Señales
                                            p Se desarrolló una serie de algoritmos que permiten cuatro tipos de retardos de señales. Los procesamientos empleados fueron ecos finitos, ecos infinitos, algoritmo de Karplus-Strong y Karplus-Strong con tres modificaciones. Al final de cada proceso se genera un archivo .wav. Por último, con el archivo de audio generado se estudió una serie de características como magnitud y fase, análisis de estabilidad a través de polos y ceros, función de transferencia

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Contruyamos el próximo proyecto juntos!
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contactame!

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
